<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon
            slot="icon-only"
            name="menu"
            style="color: white;"
          ></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title start></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Swapnil's Code  -->
  <ion-slides
    #mySlider
    style="height: 220px;
    background-color: #1669d3;"
    [options]="sliderOpts"
    pager="true"
  >
    <ion-slide>
      <img src="../../../assets/1.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/2.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/1.jpg" />
    </ion-slide>
  </ion-slides>

  <div class="video-container">
    <br />
    <h2 style="text-align: center; padding: 0px; margin-top: 0px; color: #1669d3;">
      <b>How does it work?</b>
    </h2>
    <ion-grid>
      <ion-row>
        <ion-col>
          <iframe
            src="https://www.youtube.com/embed/OVFiJZCn880"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </ion-col>
        <ion-col style="text-transform: capitalize; text-align: justify;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          voluptas eius ullam quidem
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="centered">
    <ion-card style="border-radius: 20px; transform: scale(0.8);">
      <h2 style="text-align: center; color: #1669d3;"><b>Request Demo</b></h2>
      <ion-item>
        <ion-icon
          name="person-outline"
          slot="start"
          style="color: #1669d3;"
        ></ion-icon>
        <ion-input type="text" placeholder="Name" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon
          name="mail-outline"
          slot="start"
          style="color: #1669d3;"
        ></ion-icon>
        <ion-input type="text" placeholder="Email" clearInput></ion-input>
      </ion-item>
      
      <div style="text-align: center; ">
        <ion-button shape="round" fill="outline">Submit</ion-button>
      </div>
    </ion-card>
  </div>

  <!-- Parul's Code -->
  <div style="background-color: #1669d3;">
    <br>
    <h2 style="text-align: center; padding: 0px; margin-top: 0px; color: white;">
      <b>FEATURES</b>
    </h2>
    <ion-slides
      #mySlider
      style="height: 220px;
    background-color: #1669d3;"
      [options]="sliderOpts"
      pager="true"
    >
      <ion-slide>
        <p
          style="
            text-align: center;
            font-family: 'Courier New', Courier, monospace, sans-serif;
            font-size: xx-large;
            color: gold;
          "
        >
          FRAUD PROOF
        </p>
        <lottie-player
          style="float: right;"
          src="  https://assets6.lottiefiles.com/packages/lf20_ATMNHo.json"
          speed="2"
          loop
          autoplay
        ></lottie-player>
      </ion-slide>

      <ion-slide>
        <p
          style="
            text-align: center;
            font-family: 'Courier New', Courier, monospace, sans-serif;
            font-size: xx-large;
            color: gold;
          "
        >
          EASY TO USE
        </p>
        <lottie-player
          style="float: right;"
          src="https://assets6.lottiefiles.com/packages/lf20_1LsvAZ.json"
          speed="2"
          loop
          autoplay
        ></lottie-player>
      </ion-slide>

      <ion-slide>
        <p
          style="
            text-align: center;
            font-family: 'Courier New', Courier, monospace, sans-serif;
            font-size: xx-large;
            color: gold;
          "
        >
          ENGAGEMENT
        </p>
        <lottie-player
          style="float: right;"
          src="https://assets2.lottiefiles.com/packages/lf20_DYkRIb.json"
          speed="2"
          loop
          autoplay
        ></lottie-player>
      </ion-slide>

      <ion-slide>
        <p
          style="
            text-align: center;
            font-family: 'Courier New', Courier, monospace, sans-serif;
            font-size: xx-large;
            color: gold;
          "
        >
          PREDICTIVE ANALYSIS
        </p>
        <lottie-player
          style="float: right;"
          src="https://assets5.lottiefiles.com/packages/lf20_meNSkq.json"
          speed="2"
          loop
          autoplay
        ></lottie-player>
      </ion-slide>
      <ion-slide>
        <p
          style="
            text-align: center;
            font-family: 'Courier New', Courier, monospace, sans-serif;
            font-size: xx-large;
            color: gold;
          "
        >
          REPORT CARD GENERATION
        </p>
        <lottie-player
          style="float: right;"
          src="https://assets8.lottiefiles.com/temp/lf20_LVHGUm.json"
          speed="2"
          loop
          autoplay
        ></lottie-player>
      </ion-slide>
    </ion-slides>
  </div>
  <div>
    <br>
    <h2 style="text-align: center; padding: 0px; margin-top: 0px; color: #1669d3;">
      <b>BENEFIT STAKE HOLDERS</b>
    </h2>
    <ion-slides
      #mySlider
      style="height: 450px; margin-bottom: 2px;"
      [options]="sliderOpts"
      pager="false"
    >
      <ion-slide>
        <ion-card style="height: 450px;">
          <ion-card-header>
            <img
              float="right"
              src="../../../assets/Untitled.png"
              height="10px"
            />
          </ion-card-header>
          <ion-card-content style="font-size: small; color: violet;"
            >School Management System offer technical excellence that supports
            different types of model to satisfy the browsing needs of any
            clients.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img
            src="../../../assets/STUDENT.png "
            style="margin-top: 3px;"
            padding="0px 0px 0px 0px"
          />
          <ion-card-content style="font-size: small; color: dodgerblue;"
            >School Management System offer technical excellence that supports
            different types of model to satisfy the browsing needs of any
            clients.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img
            src="../../../assets/exam.jpg"
            style="margin-top: 4px;"
            padding="0px 0px 0px 0px"
          />
          <ion-card-content style="font-size: small; color: dodgerblue;"
            >School Management System offer technical excellence that supports
            different types of model to satisfy the browsing needs of any
            clients.
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- Prajakta's Code  -->
  
  <div class="platform">
    <h2 class="headingPlatform">Multiple platform</h2>
      <ion-row>
        <ion-col>
          <ion-card style="border-radius: 10px;">
            <ion-icon name="logo-android" style="color:#4B8DDC;;"></ion-icon>
            <div class="txt">Android</div>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card style="border-radius: 10px;">
            <ion-icon name="logo-windows" style="color: #4B8DDC;"></ion-icon>
            <div class="txt">Windows</div>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card style="border-radius: 10px;">
            <ion-icon name="logo-apple" style="color: #4B8DDC;"></ion-icon>
            <div class="txt">IOS</div>
          </ion-card>
        </ion-col>
      </ion-row>
  </div>
  <div class="blog">
    <h2 class="headingBlog"><b>Blog & Resources</b></h2>
    <ion-searchbar placeholder="Search"></ion-searchbar>
    <img src="../../../assets/link.jpg" alt="" 
    style="float: right;margin-top: 15%; margin-right: 5%;" height="28%" width="28%">
  </div>

</ion-content>
