// ion-content.background{
//     --background: url(../../../assets/bg.png) 0 0/100% 100% no-repeat;
// }
ion-toolbar{
    --background: white;
    color: black;
}
ion-header {
    &.header-md:after {
      background: none;
    }
}
ion-card{
    border-radius: 30px;
}
lottie-player {
    height: 90px;
    // width: 150px;
    padding: 0px;
    width: 100%;
}
ion-button{
    color: #1669D3;
}