<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home" color="dark">
        <ion-icon name="chevron-back-outline"></ion-icon>Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <!-- <img src="./assets/Forgot-Password.png" alt="shield" style="display: block;margin-left: auto; margin-right: auto;"> -->
  <div style="text-align: center;">
    <lottie-player
      src="https://assets2.lottiefiles.com/private_files/lf30_GjhcdO.json"
      speed="2"
      loop
      autoplay
      style="text-align: center;"
    ></lottie-player>
  </div>

  <h1 style="text-align: center; color: #1669d3;"><b>Forgot Password?</b></h1>
  <br />

  <div style="padding: 2%;">
    <form [formGroup]="registrationForm">
      <ion-item>
        <ion-icon
          name="mail-outline"
          slot="start"
          style="color: #1669d3;"
        ></ion-icon>
        <!-- <ion-label color="success"><ion-icon name="mail-outline"></ion-icon></ion-label> -->
        <ion-input
          placeholder="Email"
          formControlName="email"
          [(ngModel)]="user.email"
          type="email"
          #userEmail
          required
        >
        </ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.email">
        <ng-container
          *ngIf="email.hasError(error.type) && (email.dirty || email.touched)"
        >
          <small class="error-message"
            ><ion-icon name="alert-circle-outline"></ion-icon>
            {{error.message}}</small
          >
        </ng-container>
      </div>

      <br />

      <ion-button shape="round" expand="full" fill="outline"
        ><b>Reset</b></ion-button
      >
    </form>
  </div>
</ion-content>
