<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon
            slot="icon-only"
            name="menu"
            style="color: white;"
          ></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title start></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- Swapnil's Code  -->
  <ion-slides
    #mySlider
    style="background-size: cover;"
    [options]="sliderOpts"
    pager="true"
  >
    <ion-slide>
      <img src="../../../assets/s1.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/s2.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/s3.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/s4.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/s5.jpg" />
    </ion-slide>
  </ion-slides>

  <div>
    <div>
      <br />
      <h2
        style="
          text-align: center;
          padding: 0px;
          margin-top: 0px;
          color: #1669d3;
        "
      >
        <b>How does it work?</b>
      </h2>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center;">
            <iframe
              src="https://www.youtube.com/embed/OVFiJZCn880"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </ion-col>
          <ion-col style="text-transform: capitalize; text-align: justify;">
            <p style="color: black; text-align: center; padding: 10px;">
              Increase engagement with your students in the online classroom.
              Know how many have understood what you’re teaching…..Real Time.
              Create exams in minutes using comprehensive Question Bank Conduct
              exams online securely with AI Automated Proctoring Publish vibrant
              Report Cards using ready templates Assessments Re-imagined!
              AssessPlay
            </p>
            <div style="text-align: center;">
              <ion-button
                shape="round"
                fill="outline"
                routerLink="/registeration"
                >Register School</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br />
    </div>
  </div>

  <div class="centered">
    <ion-card style="border-radius: 20px; transform: scale(0.5);">
      <h2 style="text-align: center; color: #1669d3;"><b>Request Demo</b></h2>
      <ion-item>
        <ion-icon
          name="person-outline"
          slot="start"
          style="color: #1669d3;"
        ></ion-icon>
        <ion-input type="text" placeholder="Name" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon
          name="mail-outline"
          slot="start"
          style="color: #1669d3;"
        ></ion-icon>
        <ion-input type="text" placeholder="Email" clearInput></ion-input>
      </ion-item>

      <div style="text-align: center;">
        <ion-button shape="round" fill="outline">Submit</ion-button>
      </div>
    </ion-card>
  </div>

  <!-- Parul's Code -->
  <div style="background-color: #1669d3;">
    <br />
    <h2
      style="text-align: center; padding: 0px; margin-top: 0px; color: white;"
    >
      <b>Features</b>
    </h2>
    <ion-slides
      #mySlider
      style="height: 220px; background-color: #1669d3;"
      [options]="sliderOpts"
      pager="true"
    >
      <ion-slide>
        <p
          style="
            text-align: center;
            font-family: 'Courier New', Courier, monospace, sans-serif;
            font-size: xx-large;
            color: white;
            padding: 10px;
          "
        >
          <b>Easy To Use</b>
        </p>
        <lottie-player
          style="float: right;"
          src="https://assets7.lottiefiles.com/private_files/lf30_0dTvc7.json"
          background="transparent"
          speed="2"
          loop
          autoplay
        ></lottie-player>
      </ion-slide>

      <ion-slide>
        <p
          style="
            text-align: center;
            font-family: 'Courier New', Courier, monospace, sans-serif;
            font-size: xx-large;
            color: white;
            padding: 10px;
          "
        >
          <b>Engagement</b>
        </p>
        <lottie-player
          style="float: right;"
          src="https://assets5.lottiefiles.com/packages/lf20_xRmNN8.json"
          speed="2"
          loop
          autoplay
        ></lottie-player>
      </ion-slide>

      <ion-slide>
        <p
          style="
            text-align: center;
            font-family: 'Courier New', Courier, monospace, sans-serif;
            font-size: xx-large;
            color: white;
            padding: 10px;
          "
        >
          <b>Report Card Generation</b>
        </p>
        <lottie-player
          style="float: right;"
          src="https://assets9.lottiefiles.com/packages/lf20_6wT899.json"
          speed="2"
          loop
          autoplay
        ></lottie-player>
      </ion-slide>
    </ion-slides>
    <p style="color: white; text-align: center; padding: 10px;">
      Powerful features addressing the pain points of every one of the
      stakeholders, Examination Managers, Teachers and Students. <br />
      <br />
      Links to be designed for every one of these features.
    </p>
  </div>

  <div>
    <h2 style="text-align: center; color: #1669d3;">
      <b>Benefit Stake Holders</b>
    </h2>
    <ion-slides
      style="border: 0 !important; box-shadow: none !important;"
      #mySlider
      [options]="sliderOpts"
      pager="false"
    >
      <ion-slide>
        <ion-card>
          <img
            src="../../../assets/exam.svg"
            style="height: 150px; padding: 10px;"
          />
          <ion-card-content>
            <h2
              style="
                text-align: center;
                padding: 0px;
                margin-top: 0px;
                color: black;
              "
            >
              <b>Exam Manager</b>
            </h2>

            <p style="color: black;">
              Schedule Exams for whole year easily Bulk upload of student,
              subject and teacher data Simple assignment of weightages, time
              limits & marks Create question paper randomly from Question Bank
              Cheat-proof conduct of exams using AI Proctors.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img
            src="../../../assets/teacher.svg"
            style="height: 150px; padding: 10px;"
          />
          <ion-card-content>
            <h2
              style="
                text-align: center;
                padding: 0px;
                margin-top: 0px;
                color: black;
              "
            >
              <b>Teacher</b>
            </h2>

            <p style="color: black;">
              Create Questions manually or from Question Bank Increase classroom
              engagement with ready to use Pop Up Quiz Auto correct student
              answers. Huge time saving for teachers Publish Report Cards
              automatically using vibrant templates.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img
            src="../../../assets/student.svg"
            style="height: 150px; padding: 10px;"
          />
          <ion-card-content>
            <h2
              style="
                text-align: center;
                padding: 0px;
                margin-top: 0px;
                color: black;
              "
            >
              <b>Students</b>
            </h2>

            <p style="color: black;">
              Students can take the exams on any device. Voice to Text helps
              students not great at typing Exam schedule linked to
              Google/Outlook calendar Answer scripts available online after
              results Learning Resources.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- Prajakta's Code  -->

  <div class="platform">
    <h2 class="headingPlatform">Multiple Platform</h2>
    <ion-row>
      <ion-col>
        <ion-card style="border-radius: 10px;">
          <ion-icon name="logo-windows" style="color: #1669d3;"></ion-icon>
          <div class="txt">Windows</div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card style="border-radius: 10px;">
          <ion-icon name="logo-apple" style="color: #1669d3;"></ion-icon>
          <div class="txt">IOS</div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card style="border-radius: 10px;">
          <ion-icon name="logo-android" style="color: #1669d3;"></ion-icon>
          <div class="txt">Android</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <p style="color: white; text-align: center; padding: 20px;">
      Available in all formats. On a PC, Laptops, iPads or Mobile phones on
      various platforms like Windows, IOS or Android
    </p>
  </div>
  <div>
    <h2 class="headingBlog"><b>Blog & Resources</b></h2>
    <ion-searchbar placeholder="Search"></ion-searchbar>
    <img
      src="../../../assets/link.jpg"
      alt=""
      style="float: right; padding: 10px;"
      height="28%"
      width="28%"
    />
  </div>
</ion-content>
