<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center">
      SchoolApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button routerLink="/forgot-password">
      forgot password
    </ion-button>
    <ion-button routerLink="/school-setup">
      School setup
    </ion-button>
    <ion-button routerLink="/registeration">
      Register my school
    </ion-button>
  </div>
</ion-content>
